# Python
__pycache__/
*.pyc
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
staticfiles/
media/

# Env
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Coverage
.coverage
htmlcov/

# SonarQube (локальный кэш сканера)
.scannerwork/
.sonar/

.coverage
coverage.xml